/*Footer home page*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #242323;
  color: white;

  .footer-top {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    .left-side-top {
      font-size: 40px;
      display: flex;
      align-items: center;
      flex: 1 1 0;
      margin: auto;
      .left-side-item {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }

  .divisory-line {
    border-top: solid white;
    width: 80%;
    margin: auto;
  }

  .footer-bottom {
    margin-top: 10px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .icons-footer-list {
      display: flex;
      border-radius: 2%;
      background-color: white;
      list-style: none;

      justify-content: center;

      li {
        margin-right: 20px;
        margin-left: 20px;
      }
    }
  }
}

/*---------------------------*/
/*Developers list style*/
.developers-div {
  flex: 1 1 0;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  strong {
    font-size: 17px;
  }

  .developer-list {
    flex: 1 1 0;
    display: flex;
    list-style: none;
    align-items: center;
    li {
      height: 10vh;
      flex: 1 1 0;
      display: flex;
      justify-content: center;
      img {
        border: white;
        margin-right: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
      }
    }
    .developer-list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      strong {
        flex: 1 1 0;
        span {
          opacity: 0.6;
        }
      }

      button {
        border: none;
        color: black;
        min-height: 30px;
        max-height: 50px;
        width: 120px;
        font-size: 18px;
        border-radius: 10px;
        margin-left: 15px;
      }
    }
    a {
      flex: 1 1 0;
      text-decoration: none;
      color: black;
    }
  }
}
